<div class="container">
  <br>  
<form action="/sobre/update-sobre-topo" method="POST" >
<input type="hidden" name="id" value="{{sobretopo._id}}">
    <div class="form-group col-md-8">
        <input type="text" class="form-control" placeholder="Curso" name="titulotop" value="{{sobretopo.titulotop}}" required>
    </div>
    <div class="form-group col-md-8">
        <textarea  id="" cols="30" rows="7" class="form-control" placeholder="Sobre o Curso"
            name="subtitulotop" required>{{sobretopo.subtitulotop}}</textarea>
    </div>
    <div class="form-group col-md-8">
        <input type="text" class="form-control" placeholder="Url Curso" name="tituloum" value="{{sobretopo.tituloum}}" required>
    </div>
    <div class="form-group col-md-8">
        <textarea  id="" cols="30" rows="7" class="form-control" placeholder="Sobre o Curso"
            name="descum" required>{{sobretopo.descum}}</textarea>
    </div>
     <div class="form-group col-md-8">
        <input type="text" class="form-control" placeholder="Url Curso" name="titulodois" value="{{sobretopo.titulodois}}" required>
    </div>
    <div class="form-group col-md-8">
        <textarea  id="" cols="30" rows="7" class="form-control" placeholder="Sobre o Curso"
            name="descdois" required>{{sobretopo.descdois}}</textarea>
    </div>
     <div class="form-group col-md-8">
        <input type="text" class="form-control" placeholder="Url Curso" name="titulotres" value="{{sobretopo.titulotres}}" required>
    </div>
    <div class="form-group col-md-8">
        <textarea  id="" cols="30" rows="7" class="form-control" placeholder="Sobre o Curso"
            name="desctres" required>{{sobretopo.desctres}}</textarea>
    </div>
     <div class="form-group col-md-8">
        <input type="text" class="form-control" placeholder="Url Curso" name="tituloquatro" value="{{sobretopo.tituloquatro}}" required>
    </div>
    <div class="form-group col-md-8">
        <textarea  id="" cols="30" rows="7" class="form-control" placeholder="Sobre o Curso"
            name="descquatro" required>{{sobretopo.descquatro}}</textarea>
    </div>
     <div class="form-group col-md-8">
        <input type="text" class="form-control" placeholder="Url Curso" name="titulocinco" value="{{sobretopo.titulocinco}}" required>
    </div>
    <div class="form-group col-md-8">
        <textarea  id="" cols="30" rows="7" class="form-control" placeholder="Sobre o Curso"
            name="desccinco" required>{{sobretopo.desccinco}}</textarea>
    </div>
     <div class="form-group col-md-8">
        <input type="text" class="form-control" placeholder="Url Curso" name="tituloseis" value="{{sobretopo.tituloseis}}" required>
    </div>
    <div class="form-group col-md-8">
        <textarea  id="" cols="30" rows="7" class="form-control" placeholder="Sobre o Curso"
            name="descseis" required>{{sobretopo.descseis}}</textarea>
    </div>

    
    <div class="form-group">
        <input type="submit" value="Editar" class="btn btn-primary py-3 px-5">
    </div>
</form>
</div>