<section class="hero-wrap hero-wrap-2" style="background-image: url('images/sobre/sobre.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Sobre Nós</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i
                                class="ion-ios-arrow-forward"></i></a></span> <span>Sobre nós <i
                            class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt ftc-no-pb">
    <div class="container">
        <div class="row">
            <div class="col-md-5 order-md-last wrap-about py-5 wrap-about bg-light">
                <div class="text px-4 ftco-animate">
                    <h2 class="mb-4">{{sobrelado.titulo}}</h2>
                    <p>{{sobrelado.desc}}</p>
                    <p><a href="{{sobrelado.urlbtn}}" class="btn btn-secondary px-4 py-3">{{sobrelado.titulobtn}}</a></p>
                </div>
            </div>
            <div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate">
                <h2 class="mb-4">{{sobretopo.titulotop}}</h2>
                <p>{{sobretopo.subtitulotop}}</p>
                <div class="row mt-5">
                    <div class="col-lg-6">
                        <div class="services-2 d-flex">
                            <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span
                                    class="flaticon-security"></span></div>
                            <div class="text">
                                <h3>{{sobretopo.tituloum}}</h3>
                                <p>{{sobretopo.descum}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="services-2 d-flex">
                            <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span
                                    class="flaticon-reading"></span></div>
                            <div class="text">
                                <h3>{{sobretopo.titulodois}}</h3>
                                <p>{{sobretopo.descdois}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="services-2 d-flex">
                            <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span
                                    class="flaticon-diploma"></span></div>
                            <div class="text">
                                <h3>{{sobretopo.titulotres}}</h3>
                                <p>{{sobretopo.desctres}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="services-2 d-flex">
                            <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span
                                    class="flaticon-education"></span></div>
                            <div class="text">
                                <h3>{{sobretopo.tituloquatro}}</h3>
                                <p>{{sobretopo.descquatro}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="services-2 d-flex">
                            <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span
                                    class="flaticon-jigsaw"></span></div>
                            <div class="text">
                                <h3>{{sobretopo.titulocinco}}</h3>
                                <p>{{sobretopo.desccinco}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="services-2 d-flex">
                            <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span
                                    class="flaticon-kids"></span></div>
                            <div class="text">
                                <h3>{{sobretopo.tituloseis}}</h3>
                                <p>{{sobretopo.descseis}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(images/bg_4.jpg);"
    data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section heading-section-black ftco-animate">
                <h2 class="mb-4"><span>Há mais</span> De 20 Anos</h2>
                <p>{{homecontagem.subtitulo}}</p>
            </div>
        </div>
        <div class="row d-md-flex align-items-center justify-content-center">
            <div class="col-lg-10">
                <div class="row d-md-flex align-items-center">
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="icon"><span class="flaticon-doctor"></span></div>
                            <div class="text">
                                <strong class="number" data-number="{{homecontagem.numeroum}}">0</strong>
                                <span>{{homecontagem.titulonumum}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="icon"><span class="flaticon-doctor"></span></div>
                            <div class="text">
                                <strong class="number" data-number="{{homecontagem.numerodois}}">0</strong>
                                <span>{{homecontagem.titulonumdois}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="icon"><span class="flaticon-doctor"></span></div>
                            <div class="text">
                                <strong class="number" data-number="{{homecontagem.numerotres}}">0</strong>
                                <span>{{homecontagem.titulonumtres}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="icon"><span class="flaticon-doctor"></span></div>
                            <div class="text">
                                <strong class="number" data-number="{{homecontagem.numeroquatro}}">0</strong>
                                <span>{{homecontagem.titulonumquatro}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section testimony-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <h2 class="mb-4"><span>O Que Os Pais</span> Dizem Sobre Nós</h2>
                <p>Depoimentos e recomendações de alguns pais cujo os filhos já estudam com a gente a algum tempo. Venha você também fazer parte desse time.</p>
            </div>
        </div>
        <div class="row ftco-animate justify-content-center">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel">
                    <div class="item">
                        <div class="testimony-wrap d-flex">
                            <div class="user-img mr-4" style="background-image: url(images/paisdizem/pais1.jpg)">
                            </div>
                            <div class="text ml-2 bg-light">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                                <p>Meus filhos estudam lá. São três e estão super satisfeitos.Melhor escola da região.</p>
                                <p class="name">Emilio Cesar</p>
                                <span class="position">Pai</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap d-flex">
                            <div class="user-img mr-4" style="background-image: url(images/paisdizem/pais2.jpg)">
                            </div>
                            <div class="text ml-2 bg-light">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                                <p>Simplesmente , maravilhosa . Muita gratidão por se preocuparem com o aprendizado dos meus filhos .</p>
                                <p class="name">Adriana Mussi</p>
                                <span class="position">Mãe</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap d-flex">
                            <div class="user-img mr-4" style="background-image: url(images/paisdizem/pais3.jpg)">
                            </div>
                            <div class="text ml-2 bg-light">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                                <p>Ensino de qualidade, dedicação e cuidado com as nossas crianças! Professores muito capacitados.</p>
                                <p class="name">Andréa Soares Pires</p>
                                <span class="position">Mãe</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap d-flex">
                            <div class="user-img mr-4" style="background-image: url(images/paisdizem/pais4.jpg)">
                            </div>
                            <div class="text ml-2 bg-light">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                                <p>Melhor escola com acolhimento, respeito e acessibilidade atitudinal e arquitetônica.</p>
                                <p class="name">Vilma Herling</p>
                                <span class="position">Mãe</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap d-flex">
                            <div class="user-img mr-4" style="background-image: url(images/paisdizem/pais5.jpg)">
                            </div>
                            <div class="text ml-2 bg-light">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                                <p>ensino de qualidade.professores excelentes</p>
                                <p class="name">Lídia Cardoso </p>
                                <span class="position">Mãe</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section ftco-consult ftco-no-pt ftco-no-pb" style="background-image: url(images/home/home_form.jpg);"
    data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-6 py-5 px-md-5 bg-primary">
                <div class="heading-section heading-section-white ftco-animate mb-5">
                    <!--<span class="subheading">{{homeform.titulo}}</span>-->
                    <h2 class="mb-4">{{homeform.titulo}}</h2>
                    <p>{{homeform.subtitulo}}</p>
                </div>
                <form action="/sobre/msg-homeform" method="POST" class="appointment-form ftco-animate">
                    <div class="d-md-flex">
                        <div class="form-group">
                            <input type="text" class="form-control" name="nome" placeholder="Nome">
                        </div>
                        <div class="form-group ml-md-4">
                            <input type="text" class="form-control" name="sobrenome" placeholder="Sobrenome">
                        </div>
                    </div>
                    <div class="d-md-flex">
                        <div class="form-group">
                            <div class="form-field">
                                <div class="select-wrap">
                                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                    <select name="serie" id="" class="form-control">
                                        <option value="">Selecione a Serie</option>
                                        <option value="Maternal">Maternal</option>
                                        <option value="Infantil">Infantil</option>
                                        <option value="Fundamental">Fundamental</option>
                                        <option value="Medio">Medio</option>
                                        <option value="Superior">Superior-EAD</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group ml-md-4">
                            <input type="text" class="form-control" name="telefone" placeholder="Tel">
                        </div>
                    </div>
                    <div class="d-md-flex">
                        <div class="form-group">
                            <textarea name="mensagem" id="" cols="30" rows="2" class="form-control"
                                placeholder="Menssagem"></textarea>
                        </div>
                        <div class="form-group ml-md-4">
                            <input type="submit" value="{{homeform.titulobtn}}" class="btn btn-secondary py-3 px-4">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


<section class="ftco-gallery">
    <div class="container-wrap">
        <div class="row no-gutters">
            <div class="col-md-3 ftco-animate">
                <a href="images/sobre/sobre_gallery_1.jpg" class="gallery image-popup img d-flex align-items-center"
                    style="background-image: url(images/sobre/sobre_gallery_1.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 ftco-animate">
                <a href="images/sobre/sobre_gallery_2.jpg" class="gallery image-popup img d-flex align-items-center"
                    style="background-image: url(images/sobre/sobre_gallery_2.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 ftco-animate">
                <a href="images/sobre/sobre_gallery_3.jpg" class="gallery image-popup img d-flex align-items-center"
                    style="background-image: url(images/sobre/sobre_gallery_3.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 ftco-animate">
                <a href="images/sobre/sobre_gallery_4.jpg" class="gallery image-popup img d-flex align-items-center"
                    style="background-image: url(images/sobre/sobre_gallery_4.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

{{>_footer}}