
<!--Sessão 1 - slide titulo botão-->
<section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image:url(images/home/slide_home_top2.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center"
                data-scrollax-parent="true">
                <div class="col-md-8 text-center ftco-animate">
                    <h1 class="mb-4">{{hometopo.tituloum}}</h1>
                    <p><a href="{{hometopo.urlbtnum}}" class="btn btn-secondary px-4 py-3 mt-3">{{hometopo.titulobtnum}}</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="slider-item" style="background-image:url(images/home/slide_home_top1.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center"
                data-scrollax-parent="true">
                <div class="col-md-8 text-center ftco-animate">
                    <h1 class="mb-4">{{hometopo.titulodois}}</h1>
                    <p><a href="{{hometopo.urlbtndois}}" class="btn btn-secondary px-4 py-3 mt-3">{{hometopo.titulobtndois}}</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Sessão 2 - Titulo desc-->
<section class="ftco-services ftco-no-pb">
    <div class="container-wrap">
        <div class="row no-gutters">
            <div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-primary">
                <div class="media block-6 d-block text-center">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-teacher"></span>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading">{{hometopo.subtituloum}}</h3>
                        <p>{{hometopo.descum}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-tertiary">
                <div class="media block-6 d-block text-center">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-reading"></span>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading">{{hometopo.subtitulodois}}</h3>
                        <p>{{hometopo.descdois}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-fifth">
                <div class="media block-6 d-block text-center">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-books"></span>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading">{{hometopo.subtitulotres}}</h3>
                        <p>{{hometopo.desctres}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-quarternary">
                <div class="media block-6 d-block text-center">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-diploma"></span>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading">{{hometopo.subtituloquatro}}</h3>
                        <p>{{hometopo.descquatro}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Sessão 3 - sobre-->

<section class="ftco-section ftco-no-pt ftc-no-pb">
    <div class="container">
        <div class="row">
            <div class="col-md-5 order-md-last wrap-about py-5 wrap-about bg-light">
                <div class="text px-4 ftco-animate">
                    <h2 class="mb-4">{{sobrelado.titulo}}</h2>
                    <p>{{sobrelado.desc}}</p>
                    <p><a href="{{sobrelado.urlbtn}}" class="btn btn-secondary px-4 py-3">{{sobrelado.titulobtn}}</a></p>
                </div>
            </div>
            <div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate">
                <h2 class="mb-4">{{sobretopo.titulotop}}</h2>
                <p>{{sobretopo.subtitulotop}}
                </p>
                <div class="row mt-5">
                    <div class="col-lg-6">
                        <div class="services-2 d-flex">
                            <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span
                                    class="flaticon-security"></span></div>
                            <div class="text">
                                <h3>{{sobretopo.tituloum}}</h3>
                                <p>{{sobretopo.descum}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="services-2 d-flex">
                            <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span
                                    class="flaticon-reading"></span></div>
                            <div class="text">
                                <h3>{{sobretopo.titulodois}}</h3>
                                <p>{{sobretopo.descdois}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="services-2 d-flex">
                            <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span
                                    class="flaticon-diploma"></span></div>
                            <div class="text">
                                <h3>{{sobretopo.titulotres}}</h3>
                                <p>{{sobretopo.desctres}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="services-2 d-flex">
                            <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span
                                    class="flaticon-education"></span></div>
                            <div class="text">
                                <h3>{{sobretopo.tituloquatro}}</h3>
                                <p>{{sobretopo.descquatro}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="services-2 d-flex">
                            <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span
                                    class="flaticon-jigsaw"></span></div>
                            <div class="text">
                                <h3>{{sobretopo.titulocinco}}</h3>
                                <p>{{sobretopo.desccinco}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="services-2 d-flex">
                            <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span
                                    class="flaticon-kids"></span></div>
                            <div class="text">
                                <h3>{{sobretopo.tituloseis}}</h3>
                                <p>{{sobretopo.descseis}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Sessão 4 - Chamado titulo imagem botão-->

<section class="ftco-intro" style="background-image: url(/images/home/home_chamada.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h2>{{homechamada.titulo}}</h2>
                <p class="mb-0">{{homechamada.subtitulo}}</p>
            </div>
            <div class="col-md-3 d-flex align-items-center">
                <p class="mb-0"><a href="{{homechamada.urlbtn}}" class="btn btn-secondary px-4 py-3">{{homechamada.titulobtn}}</a></p>
            </div>
        </div>
    </div>
</section>

<!--Sessão 5 - docentes - titulo desc docentes-->
<section class="ftco-section ftco-no-pb">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <h2 class="mb-4"><span>Professores</span> Qualificados</h2>
                <p>Os melhores professores são aqueles que te mostram para onde olhar, mas não te dizem o que realmente se deve enxergar.</p>
            </div>
        </div>
        <div class="row">
            {{#each docentes.docs}}
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch">
                        <div class="img align-self-stretch" style="background-image: url(images/docentes/{{imagem}});"></div>
                    </div>
                    <div class="text pt-3 text-center">
                        <h3>{{nome}}</h3>
                        <span class="position mb-2">{{aula}}</span>
                        <div class="faded">
                            <p>{{desc}}</p>
                            <ul class="ftco-social text-center">
                                <li class="ftco-animate"><a href="{{tweeter}}"><span class="icon-twitter"></span></a></li>
                                <li class="ftco-animate"><a href="{{facebook}}"><span class="icon-facebook"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                                <li class="ftco-animate"><a href="{{instagram}}"><span class="icon-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
            
        </div>
    </div>
</section>

<!--Sessão 6 - Atividades extra da home-->

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <h2 class="mb-4"><span>Atividades</span> Extra</h2>
                <p>{{homeextra.subtitulotop}}</p>
            </div>
        </div>
        <div class="row">
            {{#each cursos.docs}}
            <div class="col-md-6 course d-lg-flex ftco-animate">
                <div class="img" style="background-image: url(images/cursos/{{imgcurso}});"></div>
                <div class="text bg-light p-4">
                    <h3><a href="#">{{curso}}</a></h3>
                    <p class="subheading"><span>Período:</span> {{periodo}}</p>
                    <p>{{desccurso}}</p>
                </div>
            </div>
            {{/each}}
           
        </div>
    </div>
</section>

<!--Sessão 7 - imagem e contagem-->
<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(images/a_fundo5.jpg);"
    data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section heading-section-black ftco-animate">
                <h2 class="mb-4"><span>Ha mais de </span> 20 anos</h2>
                <p>Separated they live in. A small river named Duden flows by their place and supplies it with the
                    necessary regelialia. It is a paradisematic country</p>
            </div>
        </div>
        <div class="row d-md-flex align-items-center justify-content-center">
            <div class="col-lg-10">
                <div class="row d-md-flex align-items-center">
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="icon"><span class="flaticon-doctor"></span></div>
                            <div class="text">
                                <strong class="number" data-number="25">0</strong>
                                <span>Professores Qualificados</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="icon"><span class="flaticon-doctor"></span></div>
                            <div class="text">
                                <strong class="number" data-number="2000">0</strong>
                                <span>Alunos Formados</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="icon"><span class="flaticon-doctor"></span></div>
                            <div class="text">
                                <strong class="number" data-number="564">0</strong>
                                <span>Pais Contentes</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="icon"><span class="flaticon-doctor"></span></div>
                            <div class="text">
                                <strong class="number" data-number="10">0</strong>
                                <span>Premios</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Sessão 8 - o que os pais dizem-->
<section class="ftco-section testimony-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <h2 class="mb-4"><span>O Que Os Pais</span> Dizem Sobre Nós</h2>
                <p>Depoimentos e recomendações de alguns pais cujo os filhos já estudam com a gente a algum tempo. Venha você também fazer parte desse time.</p>
            </div>
        </div>
        <div class="row ftco-animate justify-content-center">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel">
                    <div class="item">
                        <div class="testimony-wrap d-flex">
                            <div class="user-img mr-4" style="background-image: url(images/paisdizem/pais1.jpg)">
                            </div>
                            <div class="text ml-2 bg-light">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                                <p>Meus filhos estudam lá. São três e estão super satisfeitos.Melhor escola da região.</p>
                                <p class="name">Emilio Cesar</p>
                                <span class="position">Pai</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap d-flex">
                            <div class="user-img mr-4" style="background-image: url(images/paisdizem/pais2.jpg)">
                            </div>
                            <div class="text ml-2 bg-light">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                                <p>Simplesmente , maravilhosa . Muita gratidão por se preocuparem com o aprendizado dos meus filhos .</p>
                                <p class="name">Adriana Mussi</p>
                                <span class="position">Mãe</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap d-flex">
                            <div class="user-img mr-4" style="background-image: url(images/paisdizem/pais3.jpg)">
                            </div>
                            <div class="text ml-2 bg-light">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                                <p>Ensino de qualidade, dedicação e cuidado com as nossas crianças! Professores muito capacitados.</p>
                                <p class="name">Andréa Soares Pires</p>
                                <span class="position">Mãe</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap d-flex">
                            <div class="user-img mr-4" style="background-image: url(images/paisdizem/pais4.jpg)">
                            </div>
                            <div class="text ml-2 bg-light">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                                <p>Melhor escola com acolhimento, respeito e acessibilidade atitudinal e arquitetônica.</p>
                                <p class="name">Vilma Herling</p>
                                <span class="position">Mãe</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap d-flex">
                            <div class="user-img mr-4" style="background-image: url(images/paisdizem/pais5.jpg)">
                            </div>
                            <div class="text ml-2 bg-light">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                                <p>ensino de qualidade.professores excelentes</p>
                                <p class="name">Lídia Cardoso </p>
                                <span class="position">Mãe</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Sessão 1 - Formulario contato home-->

<section class="ftco-section ftco-consult ftco-no-pt ftco-no-pb" style="background-image: url(images/home/home_form.jpg);"
    data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-6 py-5 px-md-5 bg-primary">
                <div class="heading-section heading-section-white ftco-animate mb-5">
                    <h2 class="mb-4">{{homeform.titulo}}</h2>
                    <p>{{homeform.subtitulo}}</p>
                </div>
                <form action="/msg-homeform" method="POST" class="appointment-form ftco-animate">
                    <div class="d-md-flex">
                        <div class="form-group">
                            <input type="text" class="form-control" name="nome" placeholder="Nome">
                        </div>
                        <div class="form-group ml-md-4">
                            <input type="text" class="form-control" name="sobrenome" placeholder="Sobrenome">
                        </div>
                    </div>
                    <div class="d-md-flex">
                        <div class="form-group">
                            <div class="form-field">
                                <div class="select-wrap">
                                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                    <select name="serie" id="" class="form-control">
                                       <option value="">Selecione a Serie</option>
                                        <option value="Maternal">Maternal</option>
                                        <option value="Infantil">Infantil</option>
                                        <option value="Fundamental">Fundamental</option>
                                        <option value="Medio">Medio</option>
                                        <option value="Superior">Superior-EAD</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group ml-md-4">
                            <input type="text" class="form-control" name="telefone" placeholder="Telefone">
                        </div>
                    </div>
                    <div class="d-md-flex">
                        <div class="form-group">
                            <textarea name="mensagem" id="" cols="30" rows="2" class="form-control"
                                placeholder="Menssagem"></textarea>
                        </div>
                        <div class="form-group ml-md-4">
                            <input type="submit" value="{{homeform.titulobtn}}" class="btn btn-secondary py-3 px-4">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!--Sessão 9 - sobre o ensino-->

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <h2 class="mb-4"><span>Nosso</span> Ensino</h2>
                <p>{{homeensino.subtitulo}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="pricing-entry bg-light pb-4 text-center">
                    <div>
                        <h3 class="mb-3">{{homeensino.tituloum}}</h3>
                        
                    </div>
                    <div class="img" style="background-image: url(images/home/ensino_infantil.jpg);"></div>
                    <div class="px-4">
                        <p>{{homeensino.descumensino}}</p>
                    </div>
                    <p class="button text-center"><a href="{{homeensino.urlbtnum}}" class="btn btn-primary px-4 py-3">{{homeensino.titulobtnum}}</a></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="pricing-entry bg-light pb-4 text-center">
                    <div>
                        <h3 class="mb-3">{{homeensino.titulodois}}</h3>
                        
                    </div>
                    <div class="img" style="background-image: url(images/home/ensino_fundamental.jpg);"></div>
                    <div class="px-4">
                        <p>{{homeensino.descdois}}</p>
                    </div>
                    <p class="button text-center"><a href="{{homeensino.urlbtndois}}" class="btn btn-secondary px-4 py-3">{{homeensino.titulobtndois}}</a></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="pricing-entry bg-light active pb-4 text-center">
                    <div>
                        <h3 class="mb-3">{{homeensino.titulotres}}</h3>
                        
                    </div>
                    <div class="img" style="background-image: url(images/home/ensino_medio.jpg);"></div>
                    <div class="px-4">
                        <p>{{homeensino.desctres}}</p>
                    </div>
                    <p class="button text-center"><a href="{{homeensino.urlbtntres}}" class="btn btn-tertiary px-4 py-3">{{homeensino.titulobtntres}}</a></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="pricing-entry bg-light pb-4 text-center">
                    <div>
                        <h3 class="mb-3">{{homeensino.tituloquatro}}</h3>
                        
                    </div>
                    <div class="img" style="background-image: url(images/home/ensino_superior.jpg);"></div>
                    <div class="px-4">
                        <p>{{homeensino.descquatro}}</p>
                    </div>
                    <p class="button text-center"><a href="{{homeensino.urlbtnquatro}}" class="btn btn-quarternary px-4 py-3">{{homeensino.titulobtnquatro}}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Sessão 10 - recentes do blog-->

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <h2 class="mb-4"><span>Recentes</span> Blog</h2>
                <p>Acompanhe nosso Blog, e fique por dentro de tudo que acontece no colégio, e as novidades que nossa escola pode oferecer.</p>
            </div>
        </div>
        <div class="row">
            {{#each blog.docs}}
            <div class="col-md-6 col-lg-4 ftco-animate">
                <div class="blog-entry">
                    <a href="/blog/vis-blog/{{_id}}" class="block-20 d-flex align-items-end"
                        style="background-image: url('images/blog/{{imagem}}');">
                        <div class="meta-date text-center p-2">
                            <span class="day">27</span>
                            <span class="mos">January</span>
                            <span class="yr">2019</span>
                        </div>
                    </a>
                    <div class="text bg-white p-4">
                        <h3 class="heading"><a href="#">{{titulo}}</a></h3>
                        <p>{{subtitulo}}</p>
                        <div class="d-flex align-items-center mt-4">
                            <p class="mb-0"><a href="#" class="btn btn-secondary">Saiba Mais <span
                                        class="ion-ios-arrow-round-forward"></span></a></p>
                            <p class="ml-auto mb-0">
                                <a href="#" class="mr-2">Admin</a>
                                <a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
           
           
        </div>
    </div>
</section>

<!--Sessão 11 - fotos antes do rodapé-->

<section class="ftco-gallery">
    <div class="container-wrap">
        <div class="row no-gutters">
            <div class="col-md-3 ftco-animate">
                <a href="images/home/home_gallery_1.jpg" class="gallery image-popup img d-flex align-items-center"
                    style="background-image: url(images/home/home_gallery_1.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 ftco-animate">
                <a href="images/home/home_gallery_2.jpg" class="gallery image-popup img d-flex align-items-center"
                    style="background-image: url(images/home/home_gallery_2.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 ftco-animate">
                <a href="images/home/home_gallery_3.jpg" class="gallery image-popup img d-flex align-items-center"
                    style="background-image: url(images/home/home_gallery_3.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 ftco-animate">
                <a href="images/home/home_gallery_4.jpg" class="gallery image-popup img d-flex align-items-center"
                    style="background-image: url(images/home/home_gallery_4.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>


{{>_footer}}