<div class="content p-1">
    <div class="list-group-item">
        <div class="d-flex">
            <div class="mr-auto p-2">
                <h2 class="display-4 titulo">Conteúdo do slide no topo na home</h2>
            </div>

            <div class="p-2">
                <span class="d-none d-md-block">
                    <a href="/edit-home-chamada" class="btn btn-outline-warning btn-sm">Editar</a>
                    <a href="/edit-homechamada-img" class="btn btn-outline-warning btn-sm">Editar Imagem</a>
                    
                </span>
                
                <div class="dropdown d-block d-md-none">
                    <button class="btn btn-primary dropdown-toggle btn-sm" type="button" id="acoesListar"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ações
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="acoesListar">
                        <a class="dropdown-item" href="/edit-home-chamada">Editar</a>
                        <a class="dropdown-item" href="/edit-homechamada-img">Editar Img 1</a>
                    </div>

                </div>
            </div>
        </div>
        {{>_msg}}
        <hr>
        <dl class="row">

            <dt class="col-sm-3">ID</dt>
            <dd class="col-sm-9">{{homechamada._id}}</dd>

            <dt class="col-sm-3">Titulo </dt>
            <dd class="col-sm-9">{{homechamada.titulo}}</dd>

            <dt class="col-sm-3">Subtitulo</dt>
            <dd class="col-sm-9">{{homechamada.subtitulo}} </dd>

            <dt class="col-sm-3">Titulo do Botão</dt>
            <dd class="col-sm-9">{{homechamada.titulobtn}}</dd>

            <dt class="col-sm-3">url Botão</dt>
            <dd class="col-sm-9">{{homechamada.urlbtn}}</dd>
          

            <dt class="col-sm-3">Imagem </dt>
            <dd class="col-sm-9"><img class="img-fluid" src="/images/home/home_chamada.jpg"></dd>

        </dl>
    </div>
</div>